@model Entity.divisionmodel
@{
    ViewBag.Title = "AssignedDivisionMaster";
    Layout = "~/Views/shared/_SharedLayout.cshtml";
}
<script src="../../Scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#courseid").change(function () {
            $("#department").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartment")',
                dataType: 'json',
                data: { id: $("#courseid").val() },
                success: function (DClass) {
                    if (DClass != "") {
                        var item = '<option value="0">Select Department</option>';
                        $.each(DClass, function (i, dclass) {
                            item += '<option value="' + dclass.Value + '">' + dclass.Text + '</option>';
                        });
                        $("#department").append(item);
                    }
                    else {
                        var item = '<option value="0">Select Department</option>';
                        $("#department").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve Department.' + ex);
                }
            });
             return false;
         })
        $("#department").change(function () {
            $("#yearid").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetYearClass")',
                dataType: 'json',
                data: { depid: $("#department").val(), cid: $("#courseid").val() },
                success: function (yeardata) {
                    if (yeardata != "") {
                        var item = '<option value="0">Select Year</option>';
                        $.each(yeardata, function (i, dclass) {
                            item += '<option value="' + dclass.Value + '">' + dclass.Text + '</option>';
                        });
                        $("#yearid").append(item);
                    }
                    else {
                        var item = '<option value="0">Select Year</option>';
                        $("#yearid").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve Year.' + ex);
                }
            });
            return false;
        });

        $("#header").click(function () {

            if ($("#Add_header").is(":checked")) {
                $(".addcls").prop('checked', true);
                $(".show1").attr("disabled", false);
            }
            else {
                $(".addcls").prop('checked', false);
                $(".show1").attr("disabled", true);

            }

        });
       
        $(document).on('change', '[type=checkbox]', function (e) {

            debugger;
            var empid = this.id.replace("Present_", "");

            var absent = $("#Present_" + empid);
            var remark = "";

            if ($("#Present_" + empid).is(":checked")) {
                $("#leave" + empid).attr("disabled", false);

            }
            else {
                $("#leave" + empid).attr("disabled", true);

            }


        });

        $("#insert").click(function () {
            debugger;
            var presentdetails = [];
            $('input:checkbox.addcls').each(function (evt) {
                //$("#teacher").each(function (evt) {
                var departmentid;
                var classid;
                var subject;
                var years;
               @* @{int userid;
                    userid = Convert.ToInt32(HttpContext.Current.Session["Userid"]); }
               var createdby = @userid;*@
               if ($(this).prop('checked')) {
                   var departmentid = ($("#department").val());
                   var classid = ($("#courseid").val());
                   var year = ($("#yearid").val());
                   var student = ($(this).val());
                   var division = ($("#leave" + student).val());//.replace(/\D/g, ''));
                   presentdetails.push(student + "," + classid + "," + division + "," + departmentid + "," + year);
               }
               else {
                   //var Subjectids = ($(this).val());
                   //var teacherid = ($("#leave" + Subjectids).val().replace(/\D/g, ''));
                   //presentdetails.push(departmentid + "," + classid + "," + teacherid + "," + year + "," + subject);
               }
           });
             //});

             if (presentdetails != "") {
                 var options = {};
                 options.type = "POST",
                 options.url = '@Url.Action("assignDMLDivision")',
                    options.data = JSON.stringify(presentdetails);
                options.contentType = "application/json";
                options.success = function (presentdetails) {
                    $("#msgs").show();
                    $("#lblmsgs").text("Subject List Updated successfully!..");
                    $("#lblmsgs").css({ "color": "green" });
                    $("#lblmsgs").css({ "font-size": "15px" });
                    $("#result").html(result);


                    ReloadPaging();
                };
                options.error = function (presentdetails) {
                    $("#msg").show();
                    $("#lblmsg").text("Error while save the records!..");
                    $("#lblmsg").css({ "color": "orange" });
                    $("#lblmsg").css({ "font-size": "15px" });
                    $("#result").html(result);


                    ReloadPaging();
                };
                $.ajax(options);
            }
        });

  $('#yearid').change(function () {
            $("#insert").show();
            var Classid = $('#courseid').val();
            if (Classid == '') {
                //$("#insert").hide();
                $('#result').html('');
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GettDivision")',
                dataType: 'json',
                data: { id: $("#courseid").val(), year: $("#yearid").val(),department :$("#department").val()},
                success: function (data) {

                    var result = $('#result');
                    var head = $('#header');
                    var table; var header;
                    var studentids;

                    var item = '<option value="0">Select Teacher</option>';

                    result.html('');
                    //$("#students").val(data.length);
                    header = "<table  class='table tb-parshav tablesorter'><thead><tr><th width='10%;' style='text-align:center'>Student ID</th><th  width='30%;' style='text-align:center'>Student Name</th><th width='10%;'><input type='checkbox' id='Add_header' />Select</th><th width='30%;' style='text-align:center'>Division Name</th></thead><table>";
                    head.html(header);
                    table = "<table class='table tb-parshav tablesorter' id='tbl'><tbody>";

                    for (var i = 0; i < data.sub.length; i++) {


                        studentids = data.sub[i].Studid;
                        // id = data.teach[j].Empid;
                        table += "<tr id=" + studentids + "><td width='10%;' style='text-align:center' id='subid " + studentids + "'>" + data.sub[i].Studid.toString()
                            + "</td><td  width='30%;'style='text-align:center'>"
                            + data.sub[i].Studnm.toString()
                            + "</td><td width='10%;'><input class='addcls' type='checkbox' id='Present_" + data.sub[i].Studid.toString() + "'  value='" + data.sub[i].Studid.toString()
                            + "'></td><td width='30%;' style='text-align:center'><select class='show1' disabled='true' id='leave" + studentids + "'><option values='0'>---Select Division---</option>"
                        for (var n = 0; n < data.teach.length; n++) {

                            table += "<option class='ab' id='divisionid" + data.teach[n].DivisionId.toString() + "' values=" + data.teach[n].DivisionId.toString() + ">"
                             + data.teach[n].DivisionName.toString() + "</option>";
                        }

                        table += "</select></td></tr>";

                    }
                    table += "</tbody><table>";
                    result.html(table);



                }

            });
  });
    });
    </script>
<div class="container-fluid-full">
             
		<div class="row-fluid">
           @Html.Partial("_MasterSubMenu")
	<div id="content" class="span10">
        	<div class="row-fluid">
              
                    <ul class="breadcrumb">
                        <li><i class="icon-home"></i>@Html.ActionLink("Home", "Login", "Login")<i class="icon-angle-right"></i>
                        @Html.ActionLink("Masters", "AssignedDivisionMaster", "Masters", "")<i class="icon-angle-right"></i></li>
                        <li class="active">Assigned Division</li>
                    </ul>
                 <div class="panel-body"> 
                  <div id="msg" hidden="hidden" class="alert alert-warning" visible="false">
	                <strong><label id="lblmsg"></label></strong> 
	                </div>
                <div id="msgs" hidden="hidden" class="alert alert-success" visible="false">
	              <strong><label id="lblmsgs"></label></strong> 
                </div>
                </div>
               <div class="row-fluid sortable">
              <div class="box span12">
					<div class="box-header">
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div>
                               		<div class="box-content span11">
						<form id="frm" class="form-horizontal">
                              
						
                                  <fieldset>
                                            @using (Html.BeginForm("DMLDivision", "Masters", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm", @class = "form-horizontal" }))
                                            {
                                                @Html.ValidationSummary(true)
                                                <div>
                                                    <h2 style="color:red;">
                                                        @TempData["ErrorMessage"]
                                                    </h2>
                                                </div>
                                               <div class="control-group span5">
                                                    @Html.LabelFor(model => model.courseid, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.courseid, new SelectList(Model.Courselist,"Courseid", "CourseName", "Select Class"), "Select Class")
                                                    @Html.ValidationMessageFor(model => model.courseid)
                                                           </div>
                                                </div>
                                                <div class="control-group span5">
                                                    @Html.LabelFor(model => model.department, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.department, new SelectList(Model.DepartmentList, "Dept_id", "Dept_name", "Select Department"), "Select Department")
                                                    @Html.ValidationMessageFor(model => model.department)
                                                           </div>
                                                </div>
                                                <div class="control-group span5">
                                                    @Html.LabelFor(model => model.yearid, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.yearid, new SelectList(Model.YearList, "yearid", "YearName", "Select Year"), "Select Year")
                                                    @Html.ValidationMessageFor(model => model.yearid)
                                                           </div>
                                                    </div>
                                               
                                               
                                                                               
                                            }
                                                 </fieldset>
                                </form>
					
					</div>
				</div><!--/span-->
			 
					<div class="row-fluid sortable">
              <div class="box span12">
                  	<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div> 
                  <div class="box-content">
                                               <div id="header" class="table-responsive">
                                        </div>
                                        <div id="result" class="table-responsive">
                                        </div>

                       <div class="form-actions span12" style="margin-bottom:20px; margin-left:0px; padding-left:40%">
                                                    <input type="submit" class="btn btn-primary" id="insert" value="Submit" />
                                                 
                                                </div> 
                                                </div>
                                             
                                                

                                         </div>
        </div>
                               		
                                                                      
                                               
                                          
                
                   
			</div>
                     
    </div>
</div>
   
            </div>
    </div>
