@model Entity.Categoryviewmodel
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/shared/_SharedLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        FillPermission();
        $("#status").prop('checked', true);
        $("#lblmsg").text('');
        $('#divProductid input').attr("readonly", true);
        if ($("#Productid").val() == "0" || $("#Productid").val() == "") {
            $("#divProductid").hide();
        }

        $("#result").on("click", ".btn_edit", function (evt) {
            var pid = this.id;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("FillProductDetails")',
                dataType: 'JSON',
                data: { productid: pid },
                success: function (data) {
                    $("#divProductid").show();
                    $("#Productid").val(data.Productid);
                    $('#catid').val(data.Categoryid);
                    $('#subcatid').val(data.SubCategoryid);
                    $("#Product").val(data.Product);
                    $("#status").prop('checked', data.status);
                }
            });
        });

        function clear() {
            $("#divProductid").hide();
            $('#divProductid input').val('0');
            $('#subcatid').val('');
            $("#catid").val('');
            $("#Product ").val('');
        }

        $('#Product').blur(function () {
            var Product = $('#Product').val();
            var Catid = $('#catid').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("check_duplicate_Product")',
                dataType: 'JSON',
                data: { Product: Product, Categoryid: Catid },
                success: function (data) {
                    if (data.Product != null) {
                        $("#lblmsg").text("Product Name Already Exists!..");
                        $("#lblmsg").css({ "color": "orange" });
                        $("#lblmsg").css({ "font-size": "25px" });
                        $('#Product').val('');
                        return false;
                    }
                }
            });
        });

        $("#insert").click(function () {
            validations();
            var remark = "false";
            if ($("#status").is(":checked")) {
                remark = "true";
            }
            var subcatid = $("#subcatid").val();
            if (subcatid == "") {
                subcatid = 0;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DMLProduct")',
                data: { Productid: $('#divProductid input').val(), catid: $("#catid").val(), subcatid: subcatid, Product: $("#Product").val(), status: remark, evt: 'submit', id: 0 },
                success: function (result) {
                    $("#lblmsg").text("Product updated successfully!..");
                    $("#lblmsg").css({ "color": "lime" });
                    $("#lblmsg").css({ "font-size": "25px" });
                    $("#result").html(result);
                    clear();
                    ReloadPaging();
                }
            });
        });

        $("#reset").click(function () {
            clear();
        });

        $("#result").on("click", ".btn_delete", function (evt) {
            var catid = this.id;
            var flag = confirm('Are you sure you want to delete this Product?');
            if (flag) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DMLProduct")',
                    data: { Productid: 0, catid: 0, subcatid: 0, Product: '', status: remark, evt: 'submit', id: catid },
                    success: function (result) {
                        $("#lblmsg").text("Category deleted successfully!..");
                        $("#lblmsg").css({ "color": "orange" });
                        $("#lblmsg").css({ "font-size": "25px" });
                        $("#result").html(result);
                        clear();
                        ReloadPaging();
                    }
                });
            }
        });

        $("#catid").change(function () {
            $("#subcatid").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BindSubCategory")',
                dataType: 'json',
                data: { categoryid: $("#catid").val() },
                success: function (data) {
                    if (data != "") {
                        var item = '<option value="">Select Sub Category</option>';
                        $.each(data, function (i, d) {
                            item += '<option value="' + d.Value + '">' + d.Text + '</option>';
                        });
                        $("#subcatid").append(item);
                    }
                    else {
                        var item = '<option value="">select Sub Category</option>';
                        $("#subcatid").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })

        function validations() {
            var cnt = 0;

            if ($("#catid").val() == "" || $("#catid").val() == "0") {
                cnt++;
                $("#catid").css({
                    "border": "2px solid red"
                });
            }
            else {
                $("#catid").css({
                    "border": "",
                    "background": ""
                });
            }

            var length = $('#subcatid > option').length;
            if (length > 1 && ($("#subcatid").val() == "" || $("#subcatid").val() == "0")) {
                cnt++;
                $("#subcatid").css({
                    "border": "2px solid red"
                });
            }
            else {
                $("#subcatid").css({
                    "border": "",
                    "background": ""
                });
            }

            if ($("#Product").val() == '') {
                cnt++;
                $("#Product").css({
                    "border": "2px solid red"
                });
            }
            else {
                $("#Product").css({
                    "border": "",
                    "background": ""
                });
            }

            if (cnt != 0)
                e.preventDefault();
        }
        ReloadPaging();
    });
</script>
@Html.HiddenFor(m => m.Productid, new { id = "hdProductid" })
@Html.Partial("_PermissionHiddenFlds")
<div class="container-fluid-full">
             
		<div class="row-fluid">
                  @Html.Partial("_InventorySubMenu")
	<div id="content" class="span10">
        	<div class="row-fluid">
              
             
              
                    <ul class="breadcrumb">
                       <li><i class="icon-home"></i>@Html.ActionLink("Home", "Login", "Login")<i class="icon-angle-right"></i>
                      @Html.ActionLink("Inventory Management", "Category", "Inventory", "")<i class="icon-angle-right"></i></li>
                        <li class="active">Product Master</li> 
                        <div style="float: right;">
                            @using (Html.BeginForm())
                            {

                                @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                                <input type="submit" value="Find" />
                            }
                        </div>
                    </ul>
                     <div class="row-fluid sortable">
              <div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div>
                               		<div class="box-content">
						<form id="frm" class="form-horizontal">
                              
						
                                  <fieldset>
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frm", @class = "form-horizontal" }))
                                        {
                                            @Html.ValidationSummary(true)
                                            <div id="lblmsg" class="control-group">
                                            </div>
                                            <div id="divProductid" class="control-group span-11">
                                                @Html.LabelFor(model => model.Productid, new { @class = "control-label" })
                                                  <div class="controls"> 
                                                @Html.EditorFor(model => model.Productid, new { @class = "col-md-5 form-control form_in", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Productid)
                                                      </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.catid, new { @class = "control-label" })
                                                  <div class="controls"> 
                                                @Html.DropDownListFor(model => model.catid, new SelectList(Model.Categorylist, "catid", "catname", "Select Category"), "Select Category", new { @class = "col-md-5 form-control form_in" })
                                                @Html.ValidationMessageFor(model => model.catname)
                                                      </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.subcatid, new { @class = "control-label" })
                                                  <div class="controls"> 
                                                @Html.DropDownListFor(model => model.subcatid, new SelectList(Model._subCategorylist, "SubCategoryid", "SubCategoryname", "Select Sub Category"), "Select Sub Category", new { @class = "col-md-5 form-control form_in" })
                                                @Html.ValidationMessageFor(model => model.subcatid)
                                                      </div>
                                            </div>
                                            <div id="divProduct" class="control-group">
                                                @Html.LabelFor(model => model.Product, new { @class = "control-label" })
                                                  <div class="controls"> 
                                                @Html.EditorFor(model => model.Product, new { @class = "col-md-5 form-control form_in" })
                                                @Html.ValidationMessageFor(model => model.Product)
                                                      </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.status, new { @class = "control-label" })
                                                  <div class="controls"> 
                                                @Html.CheckBoxFor(model => model.status, new { @class = "col-md-5 form-control form_in", @style = "height:15px; margin-top:20px;" })
                                                @Html.ValidationMessageFor(model => model.status)
                                                      </div>
                                            </div>
                                             <div class="form-actions">
                                                <input type="button" class="btn btn-primary" id="insert" value="Submit" />
                                                <input type="button" class="btn btn-primary" id="reset" value="Reset" />
                                            </div>
                                        }</fieldset>
                                </form>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
                   <div class="row-fluid sortable">
              <div class="box span12">
                  	<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div> 
                  <div class="box-content">
                                                @Html.Partial("_Productlist")
                                          </div>
                  </div>
                                             
                                                

                                         </div>
        </div>
             
    </div>
</div>
   
            </div>
