@model Entity.teachersubjectmodel
@{
    ViewBag.Title = "assigned Subject";
    Layout = "~/Views/shared/_SharedLayout.cshtml";
}
@*<script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>*@
<script src="../../Scripts/jquery-ui.js" type="text/javascript"></script>
<style type="text/css">
    .ui-datepicker-calendar
    {
        background-color: antiquewhite;
    }
    
    .ui-datepicker-title
    {
        background-color: antiquewhite;
    }
    
    .ui-icon ui-icon-circle-triangle-w
    {
        background-color: antiquewhite;
    }
    #ui-datepicker-div
    {
        display: none;
    }
</style>
 
    

<script type="text/javascript">
    //function valueChanged() {
    $(document).ready(function () {
        //$("#insert").hide();

        $("#Classid").change(function () {
            $("#department").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Getdepartment")',
                dataType: 'json',
                data: { id: $("#Classid").val() },
                success: function (DClass) {
                    if (DClass != "") {
                        var item = '<option value="0">Select Department</option>';
                        $.each(DClass, function (i, dclass) {
                            item += '<option value="' + dclass.Value + '">' + dclass.Text + '</option>';
                        });
                        $("#department").append(item);
                    }
                    else {
                        var item = '<option value="0">Select Department</option>';
                        $("#department").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve Department.' + ex);
                }
            });
            return false;
        })
        $("#department").change(function () {
            $("#year").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetYearClass")',
                dataType: 'json',
                data: { depid: $("#department").val(), cid: $("#Classid").val() },
                success: function (yeardata) {
                    if (yeardata != "") {
                        var item = '<option value="0">Select Year</option>';
                        $.each(yeardata, function (i, dclass) {
                            item += '<option value="' + dclass.Value + '">' + dclass.Text + '</option>';
                        });
                        $("#year").append(item);
                    }
                    else {
                        var item = '<option value="0">Select Year</option>';
                        $("#year").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve Year.' + ex);
                }
            });
            return false;
        });

        $("#insert").click(function () {
            debugger;
            var presentdetails = [];
           $('input:checkbox.addcls').each(function (evt) {
               //$("#teacher").each(function (evt) {
               var departmentid;
               var classid;
               var subject;
               var years;
               @* @{int userid;
                    userid = Convert.ToInt32(HttpContext.Current.Session["Userid"]); }
               var createdby = @userid;*@
               if ($(this).prop('checked')) {
                var departmentid = ($("#department").val());
                var classid = ($("#Classid").val());
                var subject = ($(this).val());
                var year = ($("#year").val());
                var Subjectids = ($(this).val());
                var teacherid = ($("#leave" + Subjectids).val().replace(/\D/g, ''));
                presentdetails.push(departmentid + "," + classid + "," + teacherid + "," + year + "," + subject);
                }
                else {
                   //var Subjectids = ($(this).val());
                   var teacherid = ($("#leave" + Subjectids).val().replace(/\D/g, ''));
                   presentdetails.push(departmentid + "," + classid + "," + teacherid + "," + year + "," + subject);
                }
            });
            //});

            if (presentdetails != "") {
                var options = {};
                options.type = "POST",
                options.url = '@Url.Action("DMLTeachersubject")',
                    options.data = JSON.stringify(presentdetails);
                options.contentType = "application/json";
                options.success = function (presentdetails) {
                    $("#msgs").show();
                    $("#lblmsgs").text("Subject List Updated successfully!..");
                    $("#lblmsgs").css({ "color": "green" });
                    $("#lblmsgs").css({ "font-size": "15px" });
                    $("#result").html(result);
                    

                    ReloadPaging();
                };
                options.error = function (presentdetails) {
                    $("#msg").show();
                    $("#lblmsg").text("Error while save the records!..");
                    $("#lblmsg").css({ "color": "orange" });
                    $("#lblmsg").css({ "font-size": "15px" });
                    $("#result").html(result);
                    

                    ReloadPaging();
                };
                $.ajax(options);
            }
        });

        $("#header").click(function () {

            if ($("#Add_header").is(":checked")) {
                $(".addcls").prop('checked', true);
                $(".show1").attr("disabled", false);
            }
            else {
                $(".addcls").prop('checked', false);
                $(".show1").attr("disabled", true);

            }

        });
        $(document).on('change', '[type=checkbox]', function (e) {

            debugger;
            var empid = this.id.replace("Present_", "");

            var absent = $("#Present_" + empid);
            var remark = "";

            if ($("#Present_" + empid).is(":checked")) {
                $("#leave" + empid).attr("disabled", false);

            }
            else {
                $("#leave" + empid).attr("disabled", true);

            }


        });
        $('#year').change(function () {
            $("#insert").show();
            var Classid = $('#Classid').val();
            if (Classid == '') {
                //$("#insert").hide();
                $('#result').html('');
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GettSubject")',
                dataType: 'json',
                data: { id: $("#Classid").val(), year: $("#year").val() },
                success: function (data) {

                    var result = $('#result');
                    var head = $('#header');
                    var table; var header;
                    var Subjectids;

                    var item = '<option value="0">Select Teacher</option>';

                    result.html('');
                    //$("#students").val(data.length);
                    header = "<table  class='table tb-parshav tablesorter'><thead><tr><th width='10%;' style='text-align:center'>Subject ID</th><th  width='30%;' style='text-align:center'>Subject Name</th><th width='10%;'><input type='checkbox' id='Add_header' />Select</th><th width='30%;' style='text-align:center'>Teacher Name</th></thead><table>";
                    head.html(header);
                    table = "<table class='table tb-parshav tablesorter' id='tbl'><tbody>";

                    for (var i = 0; i < data.sub.length; i++) {


                        Subjectids = data.sub[i].Subjectid;
                        // id = data.teach[j].Empid;
                        table += "<tr id=" + Subjectids + "><td width='10%;' style='text-align:center' id='subid " + Subjectids + "'>" + data.sub[i].Subjectid.toString()
                            + "</td><td  width='30%;'style='text-align:center'>"
                            + data.sub[i].SubjectNm.toString()
                            + "</td><td width='10%;'><input class='addcls' type='checkbox' id='Present_" + data.sub[i].Subjectid.toString() + "'  value='" + data.sub[i].Subjectid.toString()
                            + "'></td><td width='30%;' style='text-align:center'><select class='show1' id='leave" + Subjectids + "'><option values='0'>---Select Teacher---</option>"
                        for (var n = 0; n < data.teach.length; n++) {
                            table += "<option class='ab' id='teacherid" + data.teach[n].Empid.toString() + "' values=" + data.teach[n].Empid.toString() + ">"
                            + data.teach[n].Empid.toString() + data.teach[n].FirstName.toString() + "</option>";
                        }

                        table += "</select></td></tr>";

                    }
                    table += "</tbody><table>";
                    result.html(table);



                }

            });
             });
        $('#data').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Dataset")',
                dataType: 'json',
                data: { id: $("#Classid").val(), year: $("#year").val() },
                success: function (data) {

                }

            });
        });
        ReloadPaging();
    });


</script>


@Html.Hidden("StudentIds")@Html.Partial("_PermissionHiddenFlds")
<div class="container-fluid-full">
             
		<div class="row-fluid">
           @Html.Partial("_AttendanceMenuList")
	<div id="content" class="span10">
        	<div class="row-fluid">
              
                    <ul class="breadcrumb">
                        <li><i class="icon-home"></i>@Html.ActionLink("Home", "Login", "Login")<i class="icon-angle-right"></i>
                        @Html.ActionLink("Attendance Management", "Index", "Attendance", "")<i class="icon-angle-right"></i></li>
                        <li class="active">Student Attendances</li>
                        <div id="srch_criteria" style="float: right;display:none;">
                            @*@using (Html.BeginForm())
                            {*@
                            @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                            <input type="submit" id="srch" value="Find" />
                            @*}*@
                        </div>
                    </ul>
                 <div class="panel-body"> 
                  <div id="msg" hidden="hidden" class="alert alert-warning" visible="false">
	                <strong><label id="lblmsg"></label></strong> 
	                </div>
                <div id="msgs" hidden="hidden" class="alert alert-success" visible="false">
	              <strong><label id="lblmsgs"></label></strong> 
                </div>
                </div>
               <div class="row-fluid sortable">
              <div class="box span12">
					<div class="box-header">
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div>
                               		<div class="box-content span11">
						<form id="frm" class="form-horizontal">
                              
						
                                  <fieldset>
                                            @using (Html.BeginForm("DMLTeachersubject", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm", @class = "form-horizontal" }))
                                            {
                                                @Html.ValidationSummary(true)
                                                <div>
                                                    <h2 style="color:red;">
                                                        @TempData["ErrorMessage"]
                                                    </h2>
                                                </div>
                                               <div class="control-group span5">
                                                    @Html.LabelFor(model => model.Classid, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.Classid, new SelectList(Model.Courselist,"Courseid", "CourseName", "Select Class"), "Select Class")
                                                    @Html.ValidationMessageFor(model => model.Classid)
                                                           </div>
                                                </div>
                                                <div class="control-group span5">
                                                    @Html.LabelFor(model => model.department, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.department, new SelectList(Model.DepartmentList, "Dept_id", "Dept_name", "Select Department"), "Select Department")
                                                    @Html.ValidationMessageFor(model => model.department)
                                                           </div>
                                                </div>
                                                <div class="control-group span5">
                                                    @Html.LabelFor(model => model.year, new { @class = "control-label" })
                                                       <div class="controls">
                                                    @Html.DropDownListFor(model => model.year, new SelectList(Model.YearList, "yearid", "YearName", "Select Year"), "Select Year")
                                                    @Html.ValidationMessageFor(model => model.year)
                                                           </div>
                                                    </div>
                                               
                                               
                                                                               
                                            }
                                                 </fieldset>
                                </form>
					
					</div>
				</div><!--/span-->
			 
					<div class="row-fluid sortable">
              <div class="box span12">
                  	<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div> 
                  <div class="box-content">
                                               <div id="header" class="table-responsive">
                                        </div>
                                        <div id="result" class="table-responsive">
                                        </div>

                       <div class="form-actions span12" style="margin-bottom:20px; margin-left:0px; padding-left:40%">
                                                    <input type="submit" class="btn btn-primary" id="insert" value="Submit" />
                                                   @* <input type="submit" class="btn btn-primary" id="data" value="Submit" />*@
                                                </div> 
                                                </div>
                                             
                                                

                                         </div>
        </div>
                               		
                                          @* <div id="header" class="table-responsive span12"></div>
                                               <div id="result" class="table-responsive"></div>  *@                                      
                                               
                                          
                
                   
			</div><!--/row-->    
                     
    </div>
</div>
   
            </div>
    </div>