@model Entity.Dashboardviewmodel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/shared/_SharedLayout.cshtml";
}
@Html.Partial("_MenuItems")
 <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.marquee.js"></script>

   <script type="text/javascript">

        function flasher() { 

            if(document.getElementById("flashMe")) { 

            var d = document.getElementById("flashMe") ; 

            d.style.color= (d.style.color=='red'?'white':'red'); 

            setTimeout('flasher()', 1000); }

        }

   </script>
	<div class="row-fluid">
   	<div class="box black span5" onTablet="span3" onDesktop="span5">
             <div style="height: 250px;overflow: hidden;">
					<div class="box-header">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Birth Day List</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
                                         
						 <ul class="dashboard-list metro">
                                           
                                      <li class="blue">
                                           <marquee direction="up" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()"
scrolldelay="150" >
                                  @foreach (var item in Model.BirthdaylistDetails)
                                  { 	
                                      
                                           
								<a href="#">
									<img class="avatar" alt="Bill" src="~/img/birthday-icon-png-0.png">
								</a>
                                   <strong>Name:</strong>  @Html.DisplayFor(modelItem => item.Studnm)<br>
                                      	<strong>BirthDay:</strong>  @Html.DisplayFor(modelItem => item.DOB)<br>
                                          	<strong>Course:</strong>  @Html.DisplayFor(modelItem => item.Course)<br>
							
                                        
                                  }
                                               </marquee>
								                           
						</li>
                                         
                                           </ul>
					
                        </div>
                 </div>
           </div>
        
               	<div class="box black span7" onTablet="span3" onDesktop="span7"> 
                     <div  style="height: 250px; overflow: hidden;">
                       <div class="box-header">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Notification List</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
                          	<div class="box-content">
                                           	<ul class="dashboard-list metro">
                                                   	<li class="blue">
							  <marquee direction="up" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()"
scrolldelay="150" >
                                           @foreach (var item in Model.Newsdatacollection)
                                           { 
                                               <ul>
                              
           <li>
                   <strong>  @Html.DisplayFor(modelItem => item.NewsTitle)</strong><br>
                                
          
                   @Html.DisplayFor(modelItem => item.NewsDesc)
                                   </li>
             </ul>
                                           }

            </marquee>
            
                    </li>
                                                   </ul>
</div>
                         </div>
                       </div>
        </div>


