@model Entity.MarkAllocation
@{
    ViewBag.Title = "ShowMarks";
    Layout = "~/Views/shared/_SharedLayout.cshtml";
}
<script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        FillPermission();
        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }

        var aExamyear = GetParameterValues('ExamYear');
        var aExamTypeid = GetParameterValues('ExamTypeid');
        var aClassid = GetParameterValues('Classid');

        $("#display").click(function (e) {
            if (Validations(e) == false)
                return false;
            $("#tblExamTimeTable").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowStudentMarks")',
                dataType: 'json',
                data: { Classid: aClassid, ExamTypeid: aExamTypeid, ExamYear: aExamyear, Studentid: $("#Studentid").val() },
                success: function (ShowStudentMark) {
                    if (ShowStudentMark != "") {
                        var item = '<tr><th>Student Roll No</th><th>Student Name</th><th>Subject Name</th><th>Marks</th><th>Total Marks</th></tr>';
                        $.each(ShowStudentMark, function (i, stud) {
                            item += '<tr>'
                            item += '<td>' + stud.RollNo + '</td>';
                            item += '<td>' + stud.studentname + '</td>';
                            item += '<td>' + stud.Sub + '</td>';
                            item += '<td>' + stud.Marks + ' </td>';
                            item += '<td>' + stud.TotalMarks + ' </td>';
                            item += '</tr>'
                        });
                        $("#tblExamTimeTable").append(item);
                    }
                    else {
                        var item = '<option value="0">No record found</option>';
                        $("#tblExamTimeTable").append(item);
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        });

        function Validations(e) {
            var cnt = 0;

            if ($("#Studentid").val() == '' || $("#Studentid").val() == '0') {
                cnt++;
                $("#Studentid").css({
                    "border": "1px solid red"
                });
            }
            else {
                $("#Studentid").css({
                    "border": "",
                    "background": ""
                });
            }

            if (cnt != 0) {
                return false;
            }
        }
    });
</script>
@Html.Partial("_PermissionHiddenFlds")
<div class="container-fluid-full">
   	<div class="row-fluid">
                    @Html.Partial("_ExaminationMenuList")
            <div id="content" class="span10">
        	<div class="row-fluid">
                 
             
             
                    <ul class="breadcrumb">
                       <li><i class="icon-home"></i>@Html.ActionLink("Home", "Login", "Login")<i class="icon-angle-right"></i>
                        <li>@Html.ActionLink("Examination Management", "Index", "Attendance", "")<i class="icon-angle-right"></i></li>
                        <li class="active">Marks Details</li>
                    </ul>
               
                <div class="panel-body"> 
<div id="msg" hidden="hidden" class="alert alert-warning" visible="false">
	<strong><label id="lblmsg"></label></strong> 
	</div>
  <div id="msgs" hidden="hidden" class="alert alert-success" visible="false">
	<strong><label id="lblmsgs"></label></strong> 
</div>
</div>
                   <div class="row-fluid sortable">
              <div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div>
                               		<div class="box-content">
						<form id="frm" class="form-horizontal">
                              
						
                                  <fieldset>
                                         <div class="control-group">
                                          {
                                                @TempData["ErrorMessage"]
                                        </div>
                                           <div class="control-group">
                                                @Html.LabelFor(model => model.Classname, new { @class="control-label"  })
                                                <div class="controls">
                                                @Html.TextBoxFor(model => model.Classname, new { id = "Classid", disabled = "disabled",@class="input" })
                                             
                                              </div>
                                            </div>
                                            <div class="control-group">
                                                @Html.LabelFor(model => model.ExamType, new { @class="control-label"  })
                                                   <div class="controls">
                                                @Html.TextBoxFor(model => model.ExamType, new { id = "ExamType", disabled = "disabled" })
                                                @Html.TextBoxFor(model => model.ExaminationTypeid, new { id = "ExamTypeid", style = "display:none",@class="input" })
                                            </div>
                                            </div>
                                              <div class="control-group">
                                                @Html.LabelFor(model => model.ExamYear, new { @class="control-label"  })
                                                       <div class="controls">
                                                @Html.TextBoxFor(model => model.ExamYear, new { id = "ExamYear", disabled = "disabled",@class="input" })
                                          </div>
                                            </div>@class="input"
                                              <div class="control-group">
                                                @Html.LabelFor(model => model.Studentid, new { @class="control-label"  })
                                              <div class="controls">
                                                @Html.DropDownListFor(model => model.Studentid, new SelectList(Model.StudentDetail, "Studid", "Studnm", "Select Student"), "Select Student")
                                           </div>
                                            </div>
                                              <div class="form-actions">
                                                <input type="submit" action="display" class="btn btn-primary" id="display" value="Display" />
                                             </div>
                                      }

                                      
                                         </fieldset>
                                </form>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
      <div class="row-fluid sortable">
              <div class="box span12">
                  	<div class="box-header" data-original-title>
						<h2><i class="fa fa-edit"></i><span class="break"></span>Form Elements</h2>
						<div class="box-icon">
						
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						
						</div>
					</div> 
                  <div class="box-content">
                                <div class="table-responsive" style=" color: #23527c;">
                                    <table class="table tb-parshav" id="tblExamTimeTable">
                                        <tr>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                           <!-- table end -->
                        </div>
                        
                
        </div>
        </div>
    </div>
</div>
   
            </div>
    </div>
